.main {
	margin: 2% 5% 5% 5%;
}

.dental {
	background-image: url("../../css/dental.png");
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.user {
	background-image: url("../../css/user.png");
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.settings {
	background-image: url("../../css/settings.png");
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.logs {
	background-image: url("../../css/logs.png");
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.inventory{
	background-image: url("../../css/inventory.png");
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.square-box {
	position: relative;
	width: 10%;
	/*overflow: hidden;*/
	margin-right: 5px;
	background: #4679BD;
}
.square-box:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.square-content {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: white;
}

.square-box:hover {
	transition-duration: 300ms;
	transform: scale(1.5);
	z-index: 1;
	outline-color: #ffffff;
	outline-style: solid;
}

.square-content div {
	display: table;
	width: 100%;
	height: 100%;
}
.square-content span {
	display: block;
	text-align: center;
	vertical-align: middle;
	color: white
}

.textMenu {
	margin-top: 77%;
	font-size: 14px;
}

.tableHeader {
	text-align: center;
}

.tableAlignFromTop {
	margin-top: 2%;
}

.labelModal {
	float: left;
	padding-left: 2%;
}

.addressInputBox {
	margin-right: 10%;
}

.subLabelAddress{
	display: block;
	text-align: center;
}

a:hover {
	text-decoration: none;
}

.dentalPatientNameFont {
	color: #4679BD;
	font-size: 30px;
}